/* You can add global styles to this file, and also import other style files */

body {
  font-family: Calibri;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100vw;
  /*background-color: #f9f5f3;*/
  background-color: white;
}

.btn {
  height: 6vh;
  width: 20vh;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
